@model Execom.ClientDemo.Models.HomeIstorijaNarudzbinaViewModel
@{
    ViewBag.Title = "IstorijaNarudzbina";
}

<div class="container">
    <div class="row">
        <h4>Istorija porudzbina</h4>
    </div>
    <div class="row">
        <div>

            <table class="table">
                <thead>
                    <tr class="header">
                        <th>Datum</th>
                        <th>Restoran</th>
                        <th>Cena</th>
                        <th>Lista hrane</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Customer.Orders)
                    {
                        <tr>
                            <td>@order.Date.ToString("dd-MM-yyyy")</td>
                            <td>@order.Meal.Foods[0].Restaurant.Name</td>
                            <td>@order.Price</td>
                            <td>
                                @foreach (var food in order.Meal.Foods)
                                {
                                    <span>@food.Name</span><br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<script>
</script>

