<nav class="navbar  bg-light navbar-default">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/ExeBite logo placeholder 2.png" height="30" alt="">
    </a>
    <div class="navbar-default">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">My
                    account<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <div *ngIf="customer">
                        <div class="text-center">
                            <p>{{ customer.googleUserId }}</p>
                        </div>
                        <hr>
                    </div>
                    <li class="dropdown-item text-center"><a (click)="signOutNavigate()"
                            style="cursor: pointer;">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>