<nav class="navbar  bg-light navbar-default">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/ExeBite logo placeholder 2.png" height="30" alt="">
    </a>
    <div class="navbar-default" *ngIf="customer">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>

                <img class="mr-2 rounded-circle" src="{{customer.photoUrl}}" height="30" alt="">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{ customer.googleUserId }}<span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item text-center"><a (click)="signOutNavigate()"
                            style="cursor: pointer;">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>