<div *ngIf="foodsData">
    <div>
        <div *ngFor="let food of foodsData">
            <mat-accordion>
                <mat-expansion-panel >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="w-100">
                        <div class="float-left">
                            {{food.name}}
                        </div>
                        <div class="float-right">
                            {{food.price}},00
                        </div>
                    </div>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="description-div w-100">
                    <br>
                    <p>
                        {{food.description}}
                    </p>
                    <div class="w-50">
                        <div class="float-left"><img class="mr-5" src="assets/images/Like.svg">Like</div>
                        <div class="float-right"><img class="mr-5" src="assets/images/Dislike.svg">Dislike</div>
                    </div>
                    <br> <br>
                    <div>
                        <img class="mr-5" src="assets/images/Comments.svg">Comments
                    </div>
                </div>
                </mat-expansion-panel>
                </mat-accordion>
        </div>
    </div>
</div>
