<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Exebite.GoogleSpreadsheetApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GoogleSpreadsheetApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    
  </runtime>
  <applicationSettings>
    <Exebite.GoogleSpreadsheetApi.Properties.Settings>
      <setting name="HedoneSpredsheetID" serializeAs="String">
        <value>1E1U6l1Xh1vO1MHw3FR2RfQT-iQTDzNKJ69WpBp5UYko</value>
      </setting>
      <setting name="ExtraFoodSpredsheetID" serializeAs="String">
        <value>1RD-lkAiM2W3Jkh4isoVIXEVLv1zgReHo4imSELAFVHc</value>
      </setting>
      <setting name="IndexHauseSpredsheetID" serializeAs="String">
        <value>1QGYPsCq_5u84FUtL89xGmeedNA753KtqBqox_CG3QQE</value>
      </setting>
      <setting name="LipaSpredsheetID" serializeAs="String">
        <value>1Qvb_hosYZBTt50d8B_FTx1Uvxuo06OQI-f1k0d858VM</value>
      </setting>
      <setting name="TeglasSpredsheetID" serializeAs="String">
        <value>1jOUHYfi0b6i4BTjBvmOQYGvBqC0MKv0-g7oSU07BUUU</value>
      </setting>
      <setting name="LipaNovi" serializeAs="String">
        <value>1XncnXTvjTuzpjKgCTrQbJAdVn5x4L7YpagbfJlAq_xc</value>
      </setting>
      <setting name="TeglasNovi" serializeAs="String">
        <value>1Sp_9P9qSWd3ENkjhbs2slzBHPJNIg-QeuL0vG7L2gKA</value>
      </setting>
      <setting name="HedoneNovi" serializeAs="String">
        <value>1w5jCZQU0WVEj6o0RzBX5ALYWWoLcd8eRBvK6OebSJxs</value>
      </setting>
      <setting name="Kasa" serializeAs="String">
        <value>1wShyMKMdswapEc6y8WMjqG5IwDqj4avYmQugwfM57YE</value>
      </setting>
    </Exebite.GoogleSpreadsheetApi.Properties.Settings>
  </applicationSettings>
</configuration>