<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Exebite.GoogleSpreadsheetApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GoogleSpreadsheetApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
        <dependentAssembly>
    
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-1.4.2.0" newVersion="1.4.2.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
    
        </dependentAssembly>
    
        <dependentAssembly>
    
            <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    
            <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
    
        </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Exebite.GoogleSpreadsheetApi.Properties.Settings>
      <setting name="HedoneSpredsheetID" serializeAs="String">
        <value>1E1U6l1Xh1vO1MHw3FR2RfQT-iQTDzNKJ69WpBp5UYko</value>
      </setting>
      <setting name="ExtraFoodSpredsheetID" serializeAs="String">
        <value>1RD-lkAiM2W3Jkh4isoVIXEVLv1zgReHo4imSELAFVHc</value>
      </setting>
      <setting name="IndexHauseSpredsheetID" serializeAs="String">
        <value>1QGYPsCq_5u84FUtL89xGmeedNA753KtqBqox_CG3QQE</value>
      </setting>
      <setting name="LipaSpredsheetID" serializeAs="String">
        <value>1Qvb_hosYZBTt50d8B_FTx1Uvxuo06OQI-f1k0d858VM</value>
      </setting>
      <setting name="TeglasSpredsheetID" serializeAs="String">
        <value>1jOUHYfi0b6i4BTjBvmOQYGvBqC0MKv0-g7oSU07BUUU</value>
      </setting>
      <setting name="LipaNovi" serializeAs="String">
        <value>1XncnXTvjTuzpjKgCTrQbJAdVn5x4L7YpagbfJlAq_xc</value>
      </setting>
      <setting name="TeglasNovi" serializeAs="String">
        <value>1Sp_9P9qSWd3ENkjhbs2slzBHPJNIg-QeuL0vG7L2gKA</value>
      </setting>
      <setting name="HedoneNovi" serializeAs="String">
        <value>1w5jCZQU0WVEj6o0RzBX5ALYWWoLcd8eRBvK6OebSJxs</value>
      </setting>
      <setting name="Kasa" serializeAs="String">
        <value>1wShyMKMdswapEc6y8WMjqG5IwDqj4avYmQugwfM57YE</value>
      </setting>
    </Exebite.GoogleSpreadsheetApi.Properties.Settings>
  </applicationSettings>
</configuration>