@model IEnumerable<Exebite.Model.Order>
@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<div>
    <h4>Today orders</h4>
    @foreach(var order in Model)
    {
        <div style="border:dashed">
            @order.Customer.Name - @order.Price<br />
            @foreach(var food in order.Meal.Foods)
            {
                @food.Name<br />
            }
            @Html.ActionLink("Cancel order","CancelOrder", order)
        </div>
    }
</div>

