<div class="row mt-2">
    <div class="col-1">
        <div class="mr-2">
            <p>View by:</p>
        </div>
    </div>
    <div class="col-11">
        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-dark mr-3 rounded-pill text-uppercase"
                [ngClass]="{ 'active' : isFilterBy == 'restaurant' }" (click)="showRestorauntList()">restaurant</button>
            <button type="button" class="btn btn-outline-dark rounded-pill text-uppercase">price</button>
        </div>
    </div>
</div>
