@model IEnumerable<Exebite.Model.Restaurant>
@{
    ViewBag.Title = "GoogleSS";
}

<div>
    @foreach (var rest in Model)
    {
        <div>
            <h3>@rest.Name</h3><br />
            @foreach (var food in rest.DailyMenu)
            {
                @food.Name <i> - @food.Price</i><br /> 
            }
        </div>
    }

</div>
