@model IEnumerable<Exebite.Model.Restaurant>
@{
    ViewBag.Title = "GoogleSS";
}
<div>
    @Html.ActionLink("Write to Google Sheets", "WriteToSheets")
</div>
<div>
    @foreach (var rest in Model)
    {
        <table border="1">
            <thead>
                <h4>@rest.Name</h4>
            </thead>

            @foreach (var food in rest.DailyMenu)
            {
                <tr>
                    <td>
                        @food.Name
                    </td>
                    <td>
                        @Html.ActionLink("Naruci", "PlaceOrder", food)
                    </td>
                </tr>
            }

        </table>
    }

</div>
